
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700;900&display=swap");
$dark: #020202;
$gray-1: #f2f2f2;
$gray-2: #525252;
$base: 1rem;



// @import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css');


// @font-face {
// .material-symbols-outlined {
// @import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0');
// 定義:----------
/* fallback */
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v110/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzazHD_dY43zj-jCxv3fzvRNU22ZXGJpEpjC_1n-q_4MrImHCIJIZrDCvHOej.woff2) format('woff2');
}
//---------------




body *{
    outline: 2px solid pink
    
}
*, *::before, *::after {
    box-sizing: border-box;
}


body{
    // width: 1296px;
     background: pink;
     padding: 0 0;
     margin: 0 auto;
}

.w-1296{
   width: 1296px;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    @extend .container;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 1296px;
    padding: 0px;
    margin: 0px;

}
 // flex-wrap: wrap;
//row 設定失敗
.f-wrapf {
    display: flex;
    // width: 1296px;
    flex-wrap: wrap;  
  
    // --bs-gutter-x: 1.5rem;
    // --bs-gutter-y: 0;
    // display: flex;
    // flex-wrap: wrap;
    // margin-top: calc(-1 * var(--bs-gutter-y));
    // margin-right: calc(-.5 * var(--bs-gutter-x));
   // margin-left: calc(-.5 * var(--bs-g1utter-x))
    margin: 0;
    padding: 0;
  
  
    // jc-spbt---選擇其中一個
    //水平x
    column-gap: 24px;
    // justify-content: space-between;
    //垂直y
    row-gap: 24px;
  
  
    // align-items: space-between;  交錯軸
    // align-content: space-between;
}

.jc-spbt{
    display: flex;
    justify-content: space-between;
}
.jc-spao{
    display: flex;
    justify-content:  space-around;
}
.jc-spee{
    display: flex;
    justify-content: space-evenly;
}
//-----------------------
.col-4 {
    flex: 0 0 auto;
    width: 33.33333333%
}
.col-12 {
    flex: 0 0 auto;
    width: 100%
}
.d-block {
    display: block !important
}
//-----------------------





/* jc:sb   135 */
/* justify-content: space-between; */
/* jc:sd   258 */
/* justify-content: space-around; */
/* jcLsy


//設定:::有效果
.col-4 {
    @extend .col-4;
    flex: 0 0 auto;
    // width: 33.33333333%
    width: 416px;
}






body *{
    outline: 2px solid pink
}
body{
  // background: #020202;
  background: #fff;
  padding:  0 300px;
}
  
// html{
//     font-size:16px;
// }

// html * {
//     font-size: 1rem;
// }



// https://guiblogs.com/flex-align/
//單行使用 子m
$item-1: baseline;
.no-ap{
     flex-wrap: nowrap;
     align-items: $item-1;  //主軸的順序  
}

// [ flex-wrap:wrap ] 就必須[設定]這個屬性---[align-content:]
//多行使用 子m
$item-2: baseline;
.wr-ac{
     flex-wrap: wrap;
     align-content: $item-2;
  
  
      
     //當遇上:::
      //  align-content: stretch;
      //  特殊比例::   1--2--3--    OR  --1--2--3  or  
      //會一起使用+  
      //  align-items: stretch(正方形拉長);
      //  align-items: flex-start(第一行貼-平均);
      //  align-items: center(中間行貼-平均);
      //  align-items: flex-end;(最後一行貼-平均);
      //----------------
      //----滿滿的版::    
      //  align-content: stretch;  +  align-items: stretch;
      //----交錯的平均::
      //  align-content: space-around;   -2--5--8-  
      //  align-content: space-between;  1-3-5 
}

//---主軸:平均 --------------------------------
/* jc:sb   1-3-5 */
/* justify-content: space-between; */
/* jc:sd   -2--5--8- */
/* justify-content: space-around; */
/* jcLsy   -2-4-6- */
/* justify-content: space-evenly; */
//----------------------------------------


/* margin: 比例;  */
/* ------------------------------ */
/* jc:sb   135 */
/* justify-content: space-between; */
/* jc:sd   258 */
/* justify-content: space-around; */
/* jcLsy   246 */
/* justify-content: space-evenly; */
/* ------------------------------ */
// https://www.cythilya.tw/2017/04/04/flexbox-basics/
// space-around：每個小方塊之間與父容器有間隔，但小方塊與父容器之間的間隔是小方塊彼此間隔的一半。 
// space-evenly：每個小方塊之間和與父容器之間擁有相同的間隔。


//特別的屬性
.no-no{
  align-content: stretch;
  //-----------------------
  
}


.flex{
   display:flex;
   
}

.duration-1000{
    //https://ithelp.ithome.com.tw/articles/10265172?sc=iThelpR 
    transition-duration: 1000ms;
}	

.scale-1-3-d1000{
   //https://ithelp.ithome.com.tw/m/articles/10290871
   //x=1 y=3
   transform: scale(1.3);
   //動畫延遲 
   @extend .duration-1000;
}


.card {
  width: 416px;
  //---------------------------------
  // .flex{
  //   display:flex;
  // }
	// width: 32.1%;
	font-size: 16px;
	border-radius: 16px;
	border: 1px solid #F2F2F2;
	// overflow: hidden;
	// cursor: pointer;
	// margin-bottom: 24px;
	//----------------------------------
  // &:hover  .image{
  //條件: &:hover
  &:hover  .card-img  img{
// 		transform: scale(1.3);
// 		transition-duration: 1000ms;
      @extend .scale-1-3-d1000
  }
  
  //放大::但不會跑掉?
  .card-img {
         overflow: hidden;
         img {
              @extend .col-12;
              @extend .d-block;
        
        }
        .tool1{
          content:url(https://github.com/hexschool/2022-web-layout-training/blob/main/2023web-camp/tool1.png?raw=true);
        }
    
        .tool2{
          content:url(https://github.com/hexschool/2022-web-layout-training/blob/main/2023web-camp/tool2.png?raw=true);
        }
    
        .tool3{
          content:url(https://github.com/hexschool/2022-web-layout-training/blob/main/2023web-camp/tool3.png?raw=true);
        }
    
        .tool4{
          content:url(https://github.com/hexschool/2022-web-layout-training/blob/main/2023web-camp/tool4.png?raw=true);
        }
    
        .tool5{
          content:url(https://github.com/hexschool/2022-web-layout-training/blob/main/2023web-camp/tool5.png?raw=true);
        }
    
        .tool6{
          content:url(https://github.com/hexschool/2022-web-layout-training/blob/main/2023web-camp/tool6.png?raw=true);
        }
  }
  
  //--------------------------------
  .card-body{
      // display: flex;
      // justify-content: space-between;
      align-items: center;
      padding: 20px 32px;
      border-bottom:1px solid #F2F2F2;;
      line-height: 150%;
      //-------------------------------
      .tool-title {
        font-weight: 900;
        font-size: 20px;
        line-height: 120%;
        margin-bottom: 12px;
        height:24px;
      }
      //-------------------------------
      .tool-content{
          font-size: 14px;
          height:42px;

       }
      //-------------------------------
      .model-name{
        font-weight: 700;
        font-size: 16px;
      }
  }
  //-------------------------------
  .tool-share{
        font-family: 'Material Symbols Outlined';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -webkit-font-feature-settings: 'liga';
        -webkit-font-smoothing: antialiased;
       // @extend  .material-symbols-outlined 
       color:black;
  }
}



  // //放大::但不會跑掉?
  // .image-wrap {
  //    overflow: hidden;
  // }






